@using Microsoft.AspNetCore.Mvc.Localization
@using ABPNewtonsoftDemo.Localization
@inject IHtmlLocalizer<ABPNewtonsoftDemoResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
